<div class = "form-page item active col-md-8 col-md-offset-2" id = "farmer-form" ng-controller = "farmSignupCtl">

  <div class = "errors">
  </div>

    <br />
    <strong>
    <p> 
    <h3>
      Now that your account is set up, tell us a little bit about your farm. 
    </h3>
    </p>
  </strong>
  <%= render "shared/farm_form" %>
  <br />
</div>

