<%= stylesheet_link_tag "about" %>

<div id = "aboutPage" class = "container">
  <div class = "row">
    <div class = "col-md-5" id = "firstcolumn">
      <h4><strong>Welcome to Chicken Chasing!</strong></h4>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at tempus tellus. Suspendisse laoreet elementum orci, ut vehicula turpis semper id. Fusce vestibulum mauris sit amet augue commodo suscipit ac vel neque. Cras eu eros nec mi lacinia blandit vehicula nec arcu. Nam arcu ipsum, vestibulum tincidunt luctus eget, interdum nec sapien. Aenean venenatis nulla in nulla vestibulum, et porttitor erat fringilla. Morbi tortor dolor, vulputate lacinia massa vel, tristique pulvinar magna. Pellentesque dignissim risus non orci sodales ullamcorper. Phasellus volutpat dictum dui et vulputate. Nam porta velit at nulla egestas rutrum. Aenean placerat eget metus quis hendrerit. Quisque iaculis lorem quam, et porttitor purus ultricies vel. In condimentum consequat maximus. Ut eget leo luctus, accumsan magna a, aliquam nibh.
      </p>
    </div>
    <div class = "col-md-7" id = "secondcolumn">
      <%= image_tag "farm_photo.jpg", width: "100%" %>
    </div>
  </div>
</div>
