<div id = "content">

  <div class = "row" id = "banner">
    <div class = "col-md-12" id = "home-tagline">
      <div class = "col-md-offset-2">
        <h2>Welcome to Chicken Chasing! <small>The best place to buy and sell locally</small></h2>
      </div>
    </div>
  </div>

  <div class = "row" id = "paths">

    <div class = "col-md-offset-2 col-md-3" >
      <%= form_tag( product_search_path, method: :get, class: "form-inline", role: "form"  ) do %>
        <div class = "form-group" id = "product-search">
          <%= label_tag "Find products near you!" %>
          <%= text_field_tag :product_search, "", class: "form-control", placeholder: "Eggs, Milk, etc." %>
        </div>
      <% end %>
    </div>

    <div id = "sell" class = "col-md-offset-1 col-md-3">
      <br />
      <%= button_to "Sell", new_farmer_path, class: "btn btn-large btn-warning", method: :get %>
    </div>

  </div>

</div>
