<h2 class = 'centered'>What would you like to do?</h2>
<div id = 'options'>
  <%= link_to "Sell Local Food", new_farmer_path, class: 'btn' %> 
  <span>or</span>
  <%= link_to "Buy Local Food", new_customer_path, class: 'btn' %>
</div>
