<div class="clear"></div>
<div class="container" ng-app='CheckOut' id="checkout">
  <div>
    <div ng-controller='CheckoutCtrl' class='row'>
      <span class="col-md-8">
        <label class='review-items'>Review Items</label>
        <table class='checkout-table'>
          <tr>
            <th>Items</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Item Total</th>
            <th></th>
          </tr>
          <tr ng-repeat='product in products'>
            <td><label>{{product.name}}</label></td>
            <td><label>{{product.description}}</label></td>
            <td><label>{{product.quantity}}</label></td>
            <td><label>${{product.price}}</label></td>
            <td><label>${{totalFor(product)}}</label></td>
            <td ><labrl class='glyphicon glyphicon-trash' ng-click='remove(product)'></td>
          </tr>
        </table>
      </span>

      <span class="col-md-3">
        <br/>
        <table class='cart-total'>
          <tr>
            <td>Total</td>
            <td>${{cartTotal}}</td>
          </tr>
        </table>


        <br/>
        <label class='review-items'>Choose a Payment Method</h1>

        <br/>
        <select class='styled-select payment' ng-model='paymentMethod' ng-options='pm.nickname for pm in paymentMethods'></select>

        <br/>
        <br/>
        <button class="btn btn-checkout btn-large" ng-click='buy()'>Checkout</button>

        <br/>

      </span>


    </div>
  </div>
</div>
<%= javascript_include_tag 'angular/checkout' %>
