
body {
  color: white;
  background-image: asset-url('farm2.png');
  background-size: cover;
  font-family: 'Helvetica' !important;
}

.menu {
  padding-top: 5%;
}

a {
  color: white;
  font-size: 20px;
}

.logo {
}

.text-box-container {

}
.searchBar{
  padding-top: 10%;
}

.emailTextField{
  width: 100%;
	height: 40px !important;
	border: 2px solid grey;
}

.mail-button {
  color: black;
  position: absolute;
  right: 5%;
  top: 77%;
}

.pitch {
  font-size: 20px;
}

.mail-button {
  cursor: pointer;
  color: black;
  position: absolute;
  right: 10%;
  top: 50%;
} 


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
  .mail-button {
    color: purple;
    position: absolute;
    right: 10%;
    top: 50%;
  } 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
  .mail-button {
    font-size: 20px;
    color: black;
    position: absolute;
    right: 5%;
    top: 73%;
  } 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
 .mail-button {
    color: darkGrey;
    position: absolute;
    right: 5%;
    top: 75%;
  } 

}

