<div class="container">
  <div class="row">
    <% if current_user.profile_type == 'Farmer' %>
      <%= render 'farmers' %>
    <% else %>
      <%= render 'customers' %>
    <% end %>

  </div>
</div>