<h2> Getting Started?</h2>

<p>
  Chicken Chasing provides a quick and easy way to: draw in customers in your area, 
  allow your customers to set up recurring payments, and keep track of their orders.
</p>

<p> 
  Just begin by entering some basic information to set up your profile.
</p>

<!-- Let the farmer enter their own user info in -->
<% form_for @farmer do |f| %>
<% end %>

<!-- Let them enter in the information about their farm -->
<% form_for @farm do |f| %>
<% end %>

<!-- Let them enter in the products they sell -->
<% form_for @product do |p| %>
<% end %>

<!-- Allow them to add another product -->
<%= link_to "Add product", "#", onClick: "addProductForm()" %>
