<div class = "form-page item active col-md-8 col-md-offset-2" id = "farmer-form" ng-controller = "farmerSignupCtl">

  <h4 class = "alert alert-info fade hidden" id = "myAlert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    When you're done you can click the <strong>right arrow</strong> or press the <strong>right arrow key</strong> to move on!
  </h4>
  <div class = "direction-arrow"></div>
  <div class = "errors">
  </div>

  <h3> Getting Started?</h3>

  <!-- <div class="alert alert-danger hidden"> -->
    {{ user_errors }}
    {{ farmer_errors }}
    <!-- copy the ruby for loop in javascript to show these errors on a failure --> 
  <!-- </div> -->

  <strong>
    <p> 
    <h4>
      To begin, enter some basic information to set up your profile.
    </h4>
    </p>
  </strong>
  <%= render "shared/user_form" %>
  <%= render "shared/farmer_form" %>

  <br />
  <%= link_to "Now let's move on to setting up the products you'll sell!", "#", id: "farmer-signup",class: "btn-warning btn btn-lg right" , "ng-click" => "submitForms()"%>
</div>

