<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class = "form-page item active" id = "farmer-form">
      <h2> Getting Started?</h2>
      <strong>
        <p>
        Chicken Chasing provides a quick and easy way to:
        <ul>
          <li>draw in customers in your area,</li>
          <li>allow customers to purchase your items directly,</li>
          <li>allow your customers to set up recurring payments, and keep track of their orders.</li>
        </ul>
        </p>
        <p> 
        <h4>
          To begin, enter some basic information to set up your profile.
        </h4>
        </p>
      </strong>
      <%= render "shared/farmer_form" %>
    </div>



    <div class = "item form-page" id = "farm-form">
      <h2>
        Now add information about your farm!
      </h2>
      <%= render "shared/farm_form" %>
    </div>



    <div class = "item form-page" id = "product-form" >
      <h4>
        And finally, add some products you would like to offer!
      </h4>

      <%= render "shared/product_form" %>

      <%= link_to "Add product", "#", onClick: "addProductForm()" %>
    </div>



  </div>
  <a class="left carousel-control hidden" href="#carousel-example-generic" data-slide="prev"> 
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
