@import "twitter/bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

$light-green: #8fc73e;
$gry: #666;
$dark-green: #547c38;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin centered {
  width: 50%;
  margin: 0 auto;
}

a:hover{
  background-color: inherited !important;
}

.cart-page{
  min-height: 400px;
}

body 
{
  margin: 0;
  padding: 0;
  background-color:#EDF7F3 !important;
}

.home-menu{
  padding: 10px;
  border: black solid 1px;
}
/* miscellaneous */

.clear {
  height: 20px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
.centered {
  @include centered;
  padding-top: 30px;
}

#options {
  @include centered;
}

#left-button {
  float: left;
}

#or{
  @include centered;
}

#right-button {
  float: right;
}

#header {
  z-index: 3;
  position: relative;
}

.alert{
  margin-top: 10px;
}

.profile{
  min-height: 410px !important;
}

a{
  color: #666;
}

a:hover {
  color: #666;
}

.btn{
  color: white !important;
}

.menu:hover{
  background-color: #2C594F;
}

.product-in-cart-dropdown a:hover{
  background-color: white;
}

a.cart-btn{
  color: white !important;
}

.product-link:hover{
  background-color: #F0F0F0;
}

.col-md-10.row.checkout-buttons {
  margin-top: 10px;
}

.modalBtn{
  color: white !important;
}

.cancel:hover{
  background-color: white !important;
}

.farmer-submit{
  color: white !important;
}

.login-page{
  min-height: 410px !important;
}

/* Check Out */
#checkout {
  color: $dark-green;
}
.checkout-table {
  border-collapse: collapse;
  text-align: center;
  padding: 5px 10px;
  width: 100%;
}

.checkout-table th {
  border-bottom: 1px solid black;
  text-align: center;
  text-transform: uppercase;
}

.review-items {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold; 
  // width: 200px;
}

.cart-total td {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.payment {
   // background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.btn-checkout {
  border: none;
  color: $light-green;
  background-color: $dark-green;
  text-transform: uppercase;
}