// Place all the styles related to the Farmers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden{
  display:none;
}

.next{
  float:right;
}

.prev{
  float:left;
}

.snowliftPager#prev {
  background-image: url(/assets/V2GFNpgaFz3.png);
  background-repeat: no-repeat;
  background-size: 312px 967px;
  background-position: -284px -59px;
  width: 30px;
  height: 47px;
}

.snowliftPager#next {
  width: 28;
  height: 47px;
  background-image: url(/assets/V2GFNpgaFz3.png);
  background-repeat: no-repeat;
  background-size: 312px 967px;
  background-position: -267px -187px;
}
