// Place all the styles related to the Farms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#farm-banner{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#farm-menu{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.menu-link {
  padding-right: 10px;
  padding-left: 10px;
}

.thumbnail {
  z-index: 1;
  margin-left: 10px;
  margin-bottom: 5px;
  position: relative;
  left: -13px;
  top: -35px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 4px;
  border-radius: inherit;
}
