// Place all the styles related to the Farmers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden{
  display:none;
}

.prev{
  float:left;
}

.next{
  float:right;
}

.left{
  float:left;
}

.right{
  float:right;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
//right.carousel-control {
//width: 10%;
//}

//left.carousel-control {
  //width: 10%;
//}
