$header-alignment: -20%;

#header
{
  background-color: #EDF7F3;
  min-height: 75px;
  max-height: 500px;
  width: 100%;
  color: #666;
  font-family: 'Architects Daughter', serif;
  font-size:20px;

  .menu
  {
    display: inline-block;
    list-style: none;
    text-decoration: none;
  }
  #title
  {
    font-size: 30px;
    display: inline-block;
    vertical-align: $header-alignment;
  }
  #logo
  {
    padding-left: 200px;
    width:20px;
  }
  #logo a:hover{
    background-color: #EDF7F3 !important;
  }
  #middleMenu
  {
    width:30%;
    vertical-align: middle;
    display: inline-block;
    vertical-align: $header-alignment;
    padding-left: 190px;
    font-size: 20 !important;

    .glyphicon.glyphicon-shopping-cart.menu {
      margin-left: 7px;
      padding-left: 10px;
    }

    .glyphicon.glyphicon-comment.menu {
      margin-right: 8px;
    }

    .cart-badge{
      margin-left:-10px;
      margin-bottom:5px;
      position: relative;
      left: -13px;
      top: -15px;
      background-color: #E84866;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 1px;
      padding-bottom: 4px;
      border-radius:inherit;
    }  

    .chat-badge{
      margin-left:10px;
      margin-bottom:5px;
      position: relative;
      left: -13px;
      top: -15px;
      background-color: #E84866;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 1px;
      padding-bottom: 4px;
      border-radius:inherit;
    } 
  }


  #rightMenuSpan
  {
    float: right;   
    padding-top: 15px;
    padding-right: 220px;
    font-size: 15px;
  }

}

.btn-primary {
  color: white;
  background-color:#002D40;
  border-color:#002D40;
}

.popover-content {
  color: black;
}

.cart-popover{
  left:476px;
  z-index: 10000;
}

.comment-popover{
  left:420px;
}

.popover-content{
  width: 276px;
}

.cart-btn{
  width: 98%;
  margin-top: 20px;
}

.product-in-cart-dropdown{
  small{
    color: darkGrey;
  }
  font-size: 16px;
}

.glyphicon-remove:hover{
  color:red;
}
a.title{
  color: #666 !important;
}
.menu{
  color: #666 !important;
}
