$header-alignment: -20%;

#header
{
  background-color: #2C594F;
  min-height: 75px;
  max-height: 500px;
  width: 100%;
  color: white;
  font-family: 'Architects Daughter', serif;
  font-size:20px;

  .menu
  {
    display: inline-block;
    list-style: none;
    text-decoration: none;
  }
  #title
  {
    font-size: 30px;
    display: inline-block;
    vertical-align: $header-alignment;
  }
  #logo
  {
    padding-left: 85px;
    width:20px;
  }
  #middleMenu
  {
    width:30%;
    vertical-align: middle;
    display: inline-block;
    vertical-align: $header-alignment;
    padding-left: 150px;
    font-size: 20 !important;

    .glyphicon.glyphicon-shopping-cart.menu {
      margin-left: 7px;
      padding-left: 10px;
    }

    .glyphicon.glyphicon-comment.menu {
      margin-right: -5px;
    }

    .cart-badge{
      margin-left:10px;
      margin-bottom:5px;
      position: relative;
      left: -13px;
      top: -15px;
      background-color: #E64661;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 1px;
      padding-bottom: 4px;
      border-radius:inherit;
    }  
  }


  #rightMenuSpan
  {
    float: right;   
    padding-top: 15px;
    padding-right: 103px;
    font-size: 15px;
  }

}

.btn-primary {
  color: white;
  background-color:#002D40;
  border-color:#002D40;
}
