// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-result.row {
  border: 1px solid black;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top:20px;
  background-color: #f0f0f0;
  box-shadow: 6px 6px 5px #888888;
}

.product-link{
  float:right;
  padding-right: 35px;
}

.product-picture{
}

.product-details{
}

.farm-picture{
}

#search-controls{

}

#product-info {
  border-left: 1px solid black;
  padding-left: 15px;
}

#sorting-controls{
  float:right;
}
