<div class = "form-page item active col-md-8 col-md-offset-2" id = "farmer-form" ng-controller = "farmSignupCtl">
  <div class = "errors">
  </div>
    <strong>
    <p> 
    <h4>
      Add a new product to your inventory!
    </h4>
    </p>
  </strong>
  <%= render "shared/product_form" %>

  <br />
</div>

