<div id = "footer"  >
  <span id = "footerMenu">
    <%= link_to '* Terms',   '#', class: 'menu' %>
    <%= link_to '* Contact', '#', class: 'menu' %>
    <%= link_to '* Donate',  '#', class: 'menu' %>
  </span>
</div>
