  <div id = "footer">
    <div class = "footer-background">
      <%= image_tag "hills.png", width: "100%", class: "footer-image" %>
    </div>
    <div class = "overlay">
      <ul class = "menu col-md-offset-8 col-md-4">
        <li>©2014</li>
        <li>Chicken Chasing</li>
        <li><%= link_to "Privacy", privacy_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
      </ul>
    </div>
  </div>
