<!DOCTYPE html>
<html>
  <head>
    <title>ChickenChasing</title>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class = "content offset2 span12">
      <%= yield %>
    </div>
  </body>
</html>
